*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    min-height: 100vh;
    background: linear-gradient(to right top, #69e9d1, #4ecf4e);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: white;
    display: flex;
    height: 90vh;
    width: 80%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.3));
    border-radius: 3%;
    z-index: 2;
    backdrop-filter: blur(5px);
    flex-wrap: wrap;
    position: relative;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.6);
    /* border: 2px whitesmoke solid ; */
}


.object1, .object2{
    background-color: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.object1{
    bottom: 5%;
    left: 20%;
}
.object2{
    top: 5%;
    right: 10%;
}
.dashboardContainer{
    overflow:hidden;
    overflow-y: scroll;
    min-height: 100%;
    max-height: 100%;
}
.dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
    border-radius: 2rem;
    flex:1;
    text-align: center;
    min-height: 100%;
}
.link{
    display: flex;
    padding: 1rem 5rem;
    margin: 2rem 0rem;
    align-items: center;
}

.link h2{
    padding: 0rem 2rem;
}
.user h3{
    font-size: 2rem;
}
.gamesContainer{
    flex: 2;
    /* position: relative; */
}
.gamesContainer{
    overflow:hidden;
    overflow-y: scroll;
    max-height: 100%;
    min-height: 100%
}
.dashboardFooter{
    background: linear-gradient(to right top, #69e9d1, #4ecf4e);
    border-radius: 2rem;
    color: white;
    padding: 1rem;
}
.dashboard h2{
    width: 50%;
}

.status input{
    width: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 2rem;
    padding: 0.5rem;
}

.games{
    margin-left: 3rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1{
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}

h2, p{
    color: #426696;
    font-weight: 500;
    opacity: 0.8;
}

h3{
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
}

.status{
    margin-bottom: 3rem;
}

.cards{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.8));
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.5);
}
.progress{
    background: linear-gradient(to right top, #69e9d1, #4ecf4e);
    width: 100%;
    height: 40%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}
.progress::after{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(233, 233, 233, 0.9);
    position: absolute;
    left: 60%;
}
.card-info{
    flex:2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}